body {
  margin: 0px; /* resetando as margens */
  font-family: Arial, Helvetica, sans-serif; /* definindo enquanto não faço upload das fonts novas */
}

h1,
ul,
p {
  margin: 0px; /* resetando estilos */
}

ul {
  padding: 0px; /* resetando estilo */
  list-style: none; /* sem o pontinho de lista */
}

a {
  text-decoration: none; /* tirar decoração do texto, no caso sublinhado */
  color: inherit; /* herdar cor do pai */
}

img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background: #000; /* definindo a cor de fundo */
}

.header {
  display: flex; /* colocar um item do lado do outro */
  flex-wrap: wrap; /* quebrar para linha de baixo quando diminuir tela */
  gap: 20px; /* Cria gap na parte de cima com a parte de baixo do menu */
  justify-content: space-between; /* colocar um item em cada ponta */
  align-items: center; /* alinhar centralizado com a nav */
  box-sizing: border-box; /* para que o padding não SOMA com max-width */
  padding: 20px; /* px para todos os lados das tags */
  max-width: 1200px; /* segurar num container para deixar responsivo */
  margin-left: auto; /* quero alinhar ao centro preciso definir margens */
  margin-right: auto; /* quero alinhar ao centro preciso definir margens */
}

.header-menu {
  display: flex; /* alinhar um do lado do outro */
  flex-wrap: wrap; /* quebrar para linha de baixo quando diminuir tela */
  gap: 40px; /* criar espaçamento entre itens */
}

.header-menu a {
  color: #fff; /* definindo a cor */
  display: inline-block; /* por padrão para quando um item cair embaixo do outro o padding não vai pegar direito, pois é um elemento inline */
  padding: 16px 0px; /* para aumentar a área do "link" e facilitar clique */
  font-size: 1.5em; /* tamanho da font */
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s; /* tempo que o underline cresce*/
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: #2e2e2e;
  }
  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu a {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.introducao-bg {
  background: #000;
  color: #fff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute; */
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 80px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.12;
}

.introducao h1 span {
  color: #fb0;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#fb0, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(, 0, 0, 0.1);
  text-transform: uppercase;
  color: #320;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);

}