body {
  margin: 0px; /* resetando as margens */
  font-family: Arial, Helvetica, sans-serif; /* definindo enquanto não faço upload das fonts novas */
  color: #111111
  padding-bottom: 600px;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px; /* resetando estilos */
}

ul {
  padding: 0px; /* resetando estilo */
  list-style: none; /* sem o pontinho de lista */
}

a {
  text-decoration: none; /* tirar decoração do texto, no caso sublinhado */
  color: inherit; /* herdar cor do pai */
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}