.header-bg {
  background: var(--cor-12);
}

.header {
  display: flex; /* colocar um item do lado do outro */
  flex-wrap: wrap; /* quebrar para linha de baixo quando diminuir tela */
  gap: 20px; /* Cria gap na parte de cima com a parte de baixo do menu */
  justify-content: space-between; /* colocar um item em cada ponta */
  align-items: center; /* alinhar centralizado com a nav */
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex; /* alinhar um do lado do outro */
  flex-wrap: wrap; /* quebrar para linha de baixo quando diminuir tela */
  gap: 40px; /* criar espaçamento entre itens */
}

.header-menu a {
    display: inline-block; /* por padrão para quando um item cair embaixo do outro o padding não vai pegar direito, pois é um elemento inline */
  padding: 16px 0px; /* para aumentar a área do "link" e facilitar clique */
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s; /* tempo que o underline cresce*/
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
  }
  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu a {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}